.login-form {
  width: 40%;
  background-color: rgba(27, 27, 27, 0.5);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .login-form {
    width: 80%;
  }
}
